header {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    max-height: 75px;
}

h1 {
    background-color: lightcyan;
    padding-left: 20px;
    padding-right: 10px;
    color: rgb(54, 54, 103);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
  }
  
nav li {
    display: inline-block;
    margin-right: 10px;
}

  nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
  }

body, html {
    height: 100%;
}

.hero-image {
  background-image: url("hero.jpg");
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(54, 54, 103);
    margin-left: 2%;
}

.flex-container {
    display: flex;
    margin-left: 10% ;
    padding: 2%;
    align-items: center;
}

.title {
    margin-right: 2%;
    text-justify: right;
    width: 20%;
}

.content {
    width: 80%
}

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .flex-container {
      display:block;
    }
  }

  @media screen and (max-width: 768px) {
    .contact-list {
      display:block;
    }
  }

  @media screen and (max-width: 768px) {
   .contact-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }